<!--
//
//	event1.hbs		in x-square/   app/templates/ 
//
//  note dbl slash html comments are passed thru HB to html 
//*     vs { {:  comments  } }    */
//
-->
<div id=d1 >

  <div id=d1a width=200px>
  {{usrna}}
  </div>
  <div id=d1b>
  Logo: x-square
  </div>
</div>

<div id=d2 border-width=4 >
Main Middle Div

  <div id=d2a >
  Nav Left Middle d2a
  </div>
  
  <div id=d2b border-width=1 >
     <div id=d2a1 >  An event goes here.
     {{event}}
     
     </div>
  
  </div>
  <div id=d2c >
  
  </div>
</div>

<div id=d3 >
Footer



</div>

