//
//
//	event1.hbs		in x-square/   app/templates/ 
//
//  note dbl slash html comments are passed thru HB to html 
//*     vs { {:  comments  } }    */
//
<div id=d1 >

  <div id=d1a width=200px>
  {{usrna}}
  </div>  // close d1a
  <div id=d1b>
  Logo: x-square
  </div>  // close d1b
</div>  // close id=d1

<div id=d2 >
Main Middle Div

  <div id=d2a >
  Nav Left Middle d2a
  </div>  // close d2a nav
  
  <div id=d2b >
     <div id=d2a1 >
     {{event}}
     
     </div>  // close d2a1
  
  </div>  //close id=d2b
  <div id=d2c >
  
  </div>  // close d2c
</div>  // close id=d2

<div id=d3 >
Footer



</div>  //close id=d3

